@import "tailwindcss";

@theme {
  --color-whitee: #fffefe;
  --color-primary: #fbf1ca;
  --color-black: #101013;
  --font-Bebas: "Bebas", sans-serif;
  --font-Supreme: "Supreme", sans-serif;
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue_Complete/BebasNeue_Complete/Fonts/OTF/BebasNeue-Regular.otf")
    format("truetype");
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme_Complete/Supreme_Complete/Fonts/OTF/Supreme-Regular.otf")
    format("truetype");
}

body {
  overflow-x: hidden;
}

html {
  overflow-anchor: none;
}

/* Typing Animation */
#hey {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #ffffff;
  animation:
    typing 3s steps(50, end),
    blink 3s steps(1, end) forwards;
  animation-play-state: paused;
}

#hey.typing-active {
  animation-play-state: running;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  95% {
    border-right-color: #ffffff;
  }
  100% {
    border-right: none;
  }
}
