@import "tailwindcss";

@theme {
  --color-whitee: #fffefe;
  --color-primary: #fbf1ca;
  --color-black: #101013;
  --font-Bebas: "Bebas", sans-serif;
  --font-Supreme: "Supreme", sans-serif;
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue_Complete/BebasNeue_Complete/Fonts/OTF/BebasNeue-Regular.otf")
    format("truetype");
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme_Complete/Supreme_Complete/Fonts/OTF/Supreme-Regular.otf")
    format("truetype");
}

body {
  overflow-x: hidden;
}


